{% extends 'flushing/layout.html' %}
{% load static %}

{% block title %}Промывка отопления{% endblock %}

{% block content %}

  {% if messages %}
  <div class="transparent-message">
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}

    <div class="site-blocks-cover overlay bg-light" style="background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.8)),  url('{% static 'flushing/images/heating-system.webp' %}'); " id="home-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="">Промывка систем отопления</h1>
                <p class="lead text-white" data-aos="fade-up" data-aos-delay="100">Промывка систем отопления без необходимости снятия радиаторов. Мы используем современные методы гидропневматической и химической промывки, которые позволяют эффективно очистить систему от различных отложений и загрязнений. Обращайтесь к нам и мы сделаем вашу систему отопления более эффективной и безопасной!</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="#services-section" class="btn smoothscroll btn-primary">Услуги</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--  ABOUT-->
    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title text-center mb-5">О нас</h2>
          </div>
          <div class="col-lg-4">
            <p>Компания "Стройтехмонтаж" - это профессиональная организация, специализирующаяся на промывке систем
              отопления и различного оборудования. Мы предлагаем широкий спектр услуг по обслуживанию и оптимизации
              систем отопления для клиентов в различных сферах деятельности, включая жилые дома, коммерческие здания,
              офисы и промышленные объекты.</p>
          </div>
          <div class="col-lg-4">
            <p>
              Мы стремимся предоставить нашим клиентам высокий уровень сервиса, точность и профессионализм во всех
              аспектах нашей работы. Наша цель - обеспечить надежное и эффективное функционирование систем отопления,
              что позволяет нашим клиентам сэкономить энергию, снизить расходы на обслуживание и создать комфортные условия проживания!
            </p>
          </div>
          <div class="col-lg-4">
            <p>Наша команда квалифицированных специалистов имеет богатый опыт работы с различными типами систем отопления
              и оборудования. Мы понимаем важность эффективной работы системы отопления для обеспечения комфорта и
              энергоэффективности в зданиях. Поэтому мы стремимся предоставить высококачественные услуги промывки,
              чтобы улучшить работу системы отопления и продлить ее срок службы.
            </p>
          </div>
        </div>
      </div>
    </div>
<!-- END ABOUT-->

<!--  SERVICES-->
    <div class="site-section" id="services-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Услуги</h2>
          </div>

          {% for service in services %}
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">
              <div class="service d-flex h-100">
                <div class="svg-icon">
                  <img src="{% static 'flushing/images/service-image.webp' %}" alt="{{ service.title }}" class="img-fluid">
                </div>
                <a style="color: #666666;" href="{{ service.get_absolute_url }}">
                  <div class="service-about">
                  <h3>{{ service.title }}</h3>
                  <p>{{ service.service_type }}</p>
                  {% if service.price == 0 %}
                    <p class="price">Цена договорная</p>
                  {% else %}
                    <p class="price">Стоимость - {{ service.price|floatformat:"0" }} руб.</p>
                  {% endif %}
                  <p>{{ service.description|truncatewords:13 }}</p>
                  <p class="more"><a href="{{ service.get_absolute_url }}">Читать далее</a></p>
                </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!-- END SERVICES-->


<!--  WHEREFORE-->
    <div class="site-section" id="wherefore">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title text-center mb-5">Для чего нужна промывка системы отопления и различного оборудования?</h2>
            <p>Промывка является важной процедурой для поддержания эффективной работы и продолжительного срока службы
              системы отопления и оборудования. Ниже перечислены причины промывки системы отопления.</p>

          </div>
          <div class="col-lg-4">
            <h3>Удаление отложений и загрязнений</h3>
            <p>
              С течением времени система отопления и оборудование могут накапливать различные отложения, такие как ржавчина,
              накипь, грязь и другие загрязнения. Эти отложения могут негативно влиять на эффективность работы системы и
              приводить к снижению производительности. Промывка позволяет удалить эти отложения и восстановить
              нормальную работу системы.
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Предотвращение засорений</h3>
            <p>Промывка также предотвращает засорение систем отопления и оборудования. Засорения могут возникать из-за
              накопления мусора, примесей, коррозии или ржавчины в трубках, радиаторах, насосах и других компонентах
              системы. Засорения могут привести к ограничению потока воды или теплоносителя, а также повысить риск
              поломки оборудования. Промывка системы помогает удалить засорения и обеспечить плавный и надежный
              процесс отопления.</p>
          </div>
          <div class="col-lg-4">
            <h3>Улучшение эффективности</h3>
            <p>Чистая система отопления работает более эффективно, что позволяет снизить потребление энергии и расходы
              на отопление. Промывка помогает восстановить эффективность системы и повысить ее производительность.
              Чистые трубы и оборудование позволяют жидкости и теплоносителям свободно циркулировать, что способствует
              более равномерному и эффективному распределению тепла.</p>
          </div>
          <div class="col-lg-4">
            <h3>Предотвращение поломок и повреждений</h3>
            <p>Загрязнения и отложения в системе отопления могут вызывать поломки и повреждения оборудования. Например,
              накипь в котлах может повредить теплообменники или вызвать неправильную работу клапанов и насосов.
              Ржавчина и коррозия могут привести к протечкам или поломке трубок и радиаторов. Регулярная промывка
              помогает предотвратить подобные поломки и повреждения, что экономит вам деньги на ремонте и замене оборудования.</p>
          </div>
          <div class="col-lg-4">
            <h3>Повышение безопасности</h3>
            <p>Чистая и безопасная работа системы отопления очень важна для обеспечения комфорта и безопасности вашего
              дома или офиса. Отложения и загрязнения могут привести к повышенному риску контакта с токсичными веществами
              или загазованным воздухом. Промывка системы позволяет устранить эти риски и обеспечить безопасную эксплуатацию
              отопительного оборудования.</p>
          </div>
        </div>
      </div>
    </div>
<!-- END WHEREFORE-->

<!--  PRICE-->
    <div class="site-section" id="price">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative" style="text-align: -webkit-center;">
            <h2 class="section-title text-center mb-5">Стоимость промывки</h2>
            <table border="0" class="table_price">
             <tr>
              <th scope="row">Услуга</th>
              <th scope="row">Тип промывки</th>
              <th scope="row">Стоимость</th>
             </tr>
              {% for service in services %}
               <tr><td>{{ service.title }}</td><td>{{ service.service_type }}</td><td>{% if service.price == 0 %}Договорная{% else %} {{ service.price|floatformat:"0" }} руб.{% endif %}</td></tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- END PRICE-->

    <section class="site-section block__62272" id="projects-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 position-relative">
            <h2 class="section-title text-center mb-5">Работы</h2>
          </div>
        </div>

        <div class="row justify-content-center mb-5" data-aos="fade">
          <div id="filters" class="filters text-center button-group col-md-7">
            <button class="btn btn-primary active" data-filter="*">Все</button>
            {% for type in flushing_types %}
                <button class="btn btn-primary" data-filter=".{{ type.pk }}">{{ type.title }}</button>
            {% endfor %}
          </div>
        </div>

        <div id="posts" class="row no-gutter">
          {% for image in flushing_galleries %}
              <div class="item {{ image.service.pk }} col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                <a href="{{ image.image.url }}" class="item-wrap fancybox">
                  <span class="icon-search2"></span>
                  <img class="img-fluid" alt="Промывка системы отопления" src="{{ image.image.url }}">
                </a>
              </div>
          {% endfor %}
        </div>
      </div>
    </section>


    <section class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5 text-white">Отзывы клиентов</h2>
          </div>
        </div>
        <div class="owl-carousel slide-one-item">
          {% for review in reviews %}
          <div class="slide">
<!--            <img style="max-width: 20%;" src="{% static 'flushing/images/reviews/review.webp' %}" alt="Отзыв клиента">-->
            <blockquote>
              <p>{{ review.text }}</p>
              <p><cite>&mdash; {{ review.client_name }}</cite></p>
            </blockquote>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <p class="section-title text-center mb-5 text-white"><a href="https://www.avito.ru/user/6bb504594c283003e017d99450fa00e7/profile?id=2820510183&src=item&page_from=from_item_card_icon&iid=2820510183#open-reviews-list">Просмтр отзывов на Avito.ru</a></p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section bg-light" id="blog-section">
      <div class="container">
        <div class="row">

          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Статьи</h2>
          </div>

          {% for article in articles %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
            <div class="blog_entry">
              {% if article.image.url %}
              <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
              </a>
              {% endif %}
              <div class="p-4 bg-white">
                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                <span class="date">{{ article.time_create }}</span>
                <p>{{ service.content|truncatewords:13 }}</p>
                <p class="more"><a href="{{ article.get_absolute_url }}">Подробнее</a></p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
{% endblock %}









