{% extends 'flushing/layout.html' %}
{% load static %}

{% block content %}
    <div class="site-blocks-cover overlay bg-light" style="background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.8)), url('{{ service.image.url }}'); " id="home-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white">{{ service.title }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section first-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">
            <h2>{{ service.title }}</h2>
            <p class="lead">{{ service.description }}</p>
            <h2 style="margin-bottom: 1em;">Пример комплексной промывки системы отопления</h2>
            <iframe style="width: 100%; height: 300px; max-height: 100%;" src="https://www.youtube.com/embed/G1EuiETQDnM?si=OMhdVBvabcNJV9t9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="col-md-4 sidebar">
            <div class="sidebar-box">
              <div class="categories">
                <h2 class="text-uppercase">Категории</h2>
                {% for topic in topics %}
                <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
                {% endfor %}
              </div>
            </div>

            <div class="sidebar-box">
              <h2 class="text-uppercase">Стройтехмонтаж</h2>
              <p>Компания "Стройтехмонтаж" - это профессиональная организация, специализирующаяся на промывке систем
              отопления и различного оборудования. Мы предлагаем широкий спектр услуг по обслуживанию и оптимизации
              систем отопления для клиентов в различных сферах деятельности, включая жилые дома, коммерческие здания,
              офисы и промышленные объекты.</p>
              <p><a href="{% url 'index' %}" class="btn btn-primary text-white">Подробнее</a></p>
            </div>

            <div class="sidebar-box">
              <h2 class="text-uppercase">Услуги</h2>
              <ul>
                {% for service in services %}
                <li><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></li>
                {% endfor %}
              </ul>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
