{% extends 'flushing/layout.html' %}
{% load static %}

{% block title %}{{ topic.name }}{% endblock %}
{% block description %}{{ topic.name }}{% endblock %}

{% block content %}
    <div class="site-blocks-cover overlay bg-light" style="background-image: url('{% static 'flushing/images/background-article.webp' %}'); " id="home-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white">{{ topic.name }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="site-section bg-light" id="blog-section">
      <div class="container">
        <div class="row">

          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Статьи</h2>
          </div>

          {% for article in articles %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
            <div class="blog_entry">
              {% if article.image.url %}
              <a href="{{ article.get_absolute_url }}">
                <img src="{{ article.image.url }}" alt="Image" class="img-fluid">
              </a>
              {% endif %}
              <div class="p-4 bg-white">
                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                <span class="date">{{ article.time_create }}</span>
                <p>{{ service.content|truncatewords:13 }}</p>
                <p class="more"><a href="{{ article.get_absolute_url }}">Подробнее</a></p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>

{% endblock %}
