{% extends 'services/service_type.html' %}
{% load static %}
{% block head_links  %}
    <link rel="stylesheet" href="{% static 'services/css/flushing.css' %}" type="text/css">
{% endblock %}


<!--ADDITIONAL INFO-->
{% block additional_info %}
    <div class="site-section" id="questions">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative" style="text-align: center;">
            <h2 class="section-title text-center mb-5">Вопросы по промывке</h2>
              <details>
                <summary><h3>Как часто нужно промывать систему отопления?</h3></summary>
                <div class="card card-body mt-2">
                  <ul>
                    <li>Раз в 3-5 лет, если теплоноситель антифриз.</li>
                    <li>Раз в 8-10 лет — если подготовленная вода.</li>
                  </ul>
                </div>
              </details>
              <details>
                <summary><h3>Как понять когда пора промывать систему отопления?</h3></summary>
                <div class="card card-body mt-2">
                  <ul>
                    <li>1. Появление шлама в грязевом фильтре</li>
                    <li>2. Ухудшение теплоотдачи радиаторов или неравномерный прогрев</li>
                    <li>3. Перестал греть теплый пол, весь или частично</li>
                    <li>4. Котел потребляет больше ресурсов</li>
                    <li>5. Шум из котла, отключение по перегреву, выпадение в аварию</li>
                  </ul>
                </div>
            </details>
            <details>
                <summary><h3>Как оплатить заказ?</h3></summary>
                <div class="card card-body mt-2">
                  <p>По своему желанию вы можете оплатить заказ наличными или онлайн переводом на карту мастера
                    выполнявшего работу. Оплата произодится при подписании акта выполненых работ.</p>
                </div>
            </details>
            <details>
                <summary><h3>Можно ли получить консультацию по телефону?</h3></summary>
                <div class="card card-body mt-2">
                  <p>Да, конечно! Мы бесплатно консультируем наших клиентов! При этом важно понимать, для того, чтобы
                    точно определить причину, мастеру нужно видеть вашу систему отопления.</p>
                </div>
            </details>
            <details>
                <summary><h3>Могу ли я оформить предзаказ?</h3></summary>
                <div class="card card-body mt-2">
                  <p>Да, конечно! Звоните нам по номеру: <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a> либо заказывайте <a href="#contact-section">обратный звонок</a> и мы свяжемся с Вами в ближайшее время!</p>
                </div>
            </details>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" id="example" style="margin-bottom: 50px;">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative" style="text-align: center;">
            <h2 class="section-title text-center mb-5">Пример комплексной промывки</h2>
              <iframe width="80%" height="100%" src="https://www.youtube.com/embed/G1EuiETQDnM?si=thSjfZHugu9BJDJy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
{% endblock  %}
<!--END ADDITIONAL INFO-->








