{% extends 'services/layout.html' %}
{% load static %}


{% block description %}Проектирование, обслуживание, ремонт и промывка систем отопления и отопительного оборудования{% endblock %}
{% block head_links  %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@11.0.5/swiper-bundle.min.css">
{% endblock %}
{% block content %}
  {% if messages %}
  <div class="transparent-message">
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}

    <div class="site-blocks-cover overlay bg-light with-background-image"  id="home-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="">{{ company_info.name }}</h1>
                <p class="lead text-white" data-aos="fade-up" data-aos-delay="100">
                    {{ company_info.about }}
                </p>
                <span data-aos="fade-up" data-aos-delay="200"><a href="#services-section" class="btn smoothscroll btn-secondary">Услуги</a></span>
                <span data-aos="fade-up" data-aos-delay="200"><a href="#contact-section" class="btn smoothscroll btn-primary">Заказать</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<!--  SERVICES-->
    <div class="site-section" id="services-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Услуги</h2>
          </div>

          {% for type in services_types %}
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">
              <div class="service d-flex h-100">
                <div class="svg-icon">
                  <img src="{% static 'services/images/service-image.webp' %}" alt="{{ type.title }}" class="img-fluid">
                </div>
                <a aria-label="Перейти к услуге" style="color: #666666;" href="{{ type.get_absolute_url }}">
                  <div class="service-about">
                  <h3>{{ type.title }}</h3>
<!--                  <p>{{ type.}}</p>-->
                  <p>{{ type.description|truncatewords:13 }}</p>
                  <p class="more"><a aria-label="Подробнее" href="{{ type.get_absolute_url }}">Читать далее</a></p>
                </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!-- END SERVICES-->

<!--  PRICE-->
    <div class="site-section" id="price">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative" style="text-align: -webkit-center;">
            <h2 class="section-title text-center mb-5">Стоимость услуг</h2>
            <table border="0" class="table_price">
             <tr>
              <th scope="col">№</th>
              <th scope="col">Услуги</th>
              <th scope="col">Просмотр цен</th>
             </tr>
              {% for type in services_types %}
               <tr>
                 <th scope="row">{{ forloop.counter }}</th>
                 <td><h3 style="font-size: 1rem;">{{ type.title }}</h3></td>
                 <td><a aria-label="Цены подробно" href="{{ type.get_absolute_url }}#price">Узнать цены</a></td>
               </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- END PRICE-->

<!-- OBJECTS -->
    <section class="site-section block__62272" id="projects-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 position-relative">
            <h2 class="section-title text-center mb-5">Завершённые работы/объекты</h2>
          </div>
          {% for obj in objects %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-4 col-md-obj-and-article">
            <div class="blog_entry">
              <a href="{{ obj.get_absolute_url }}">
              {% if obj.image %}
                <img src="{{ obj.image.url }}" alt="{{ obj.title }}" class="img-fluid">
              {% else %}
                  <img src="{% static 'services/images/heating-system.webp' %}" alt="{{ obj.title }}" class="img-fluid">
              {% endif %}
              </a>
              <div class="p-4 bg-white">
                <span>{{ obj.title }}</span>
                <span class="date">{{ obj.time_create }}</span>
                <p>{{ obj.description|truncatewords:5 }}</p>
                <p class="more"><a href="{{ obj.get_absolute_url }}">Подробнее</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
<!-- END OBJECTS -->


<!-- REVIEW -->
    <section class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5 text-white">Отзывы клиентов</h2>
          </div>
        </div>
        <div class="owl-carousel slide-one-item">
          {% for review in reviews %}
          <div class="slide">
                <cite> {{ review.client_name }}</cite>
              <blockquote>
                <p>{{ review.text }}</p>
              </blockquote>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <p class="section-title text-center mb-5 text-white" ><a href="https://www.avito.ru/user/6bb504594c283003e017d99450fa00e7/profile?id=2820510183&src=item&page_from=from_item_card_icon&iid=2820510183#open-reviews-list" style="color: white !important;">Просмтр отзывов на Avito.ru</a></p>
          </div>
        </div>
      </div>
    </section>
<!--  END REVIEW  -->

<!--  ABOUT-->
    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title text-center mb-5">О нас</h2>
          </div>
          <div class="col-lg-4">
            <p>Мы гарантируем профессиональный подход к каждому проекту, индивидуальный подход к потребностям каждого клиента и использование передовых технологий. Наша цель - обеспечить не только качественные услуги, но и установить надежное партнерство с нашими клиентами на долгосрочной основе.
На нашем сайте вы найдете подробную информацию о наших услугах, портфолио наших проектов и контактные данные для связи с нами. Здесь вы сможете обратиться к нам с вопросами, запросить консультацию, а также оставить заявку на необходимые работы.
          </div>
          <div class="col-lg-4">
            <p>
              Мы стремимся предоставить нашим клиентам высокий уровень сервиса, точность и профессионализм во всех
              аспектах нашей работы. Наша цель - обеспечить надежное и эффективное функционирование систем отопления,
              что позволяет нашим клиентам сэкономить энергию, снизить расходы на обслуживание и создать комфортные условия проживания!
            </p>
          </div>
          <div class="col-lg-4">
            <p>Наша команда квалифицированных специалистов имеет богатый опыт работы с различными типами систем отопления
              и оборудования. Мы понимаем важность эффективной работы системы отопления для обеспечения комфорта и
              энергоэффективности в зданиях.
              Надеемся, что мы сможем стать вашим надежным партнером во всех вопросах, связанных с системами отопления и отопительным оборудованием.</p>

            </p>
          </div>
        </div>
      </div>
    </div>
<!-- END ABOUT-->




    <section class="site-section bg-light" id="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Статьи</h2>
          </div>
          {% for article in articles %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-4 col-md-obj-and-article">
            <div class="blog_entry">
              <a href="{{ article.get_absolute_url }}">
              {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
              {% else %}
                  <img src="{% static 'services/images/heating-system.webp' %}" alt="{{ article.title }}" class="img-fluid">
              {% endif %}
              </a>
              <div class="p-4 bg-white">
                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                <span class="date">{{ article.time_create }}</span>
                <p>{{ service.content|truncatewords:13 }}</p>
                <p class="more"><a href="{{ article.get_absolute_url }}">Подробнее</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
{% block scripts  %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js" type="text/javascript"></script>
<script src="{% static 'services/js/object-cards.js' %}" type="module"></script>
{% endblock %}








