{% extends 'services/layout.html' %}
{% load static %}

{% block title %}{{ service_type.title }}{% endblock %}
{% block description %}{{ service_type.title }}{% endblock %}


{% block content %}
  {% if messages %}
  <div class="transparent-message">
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}

    <div class="site-blocks-cover overlay bg-light" style="background-image: linear-gradient(rgb(0 0 0 / 70%), rgba(0, 0, 0, 0.8)),  url('{% static 'services/images/heating-system.webp' %}'); " id="home-section">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 text-center align-self-center text-intro">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <h1 class="text-white" data-aos="fade-up" data-aos-delay="">{{ service_type.title }}</h1>
                <p class="lead text-white" data-aos="fade-up" data-aos-delay="100">{{ service_type.description|truncatewords:30 }}</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="#services-section" class="btn smoothscroll btn-secondary">Услуги</a></p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="#contact-section" class="btn smoothscroll btn-primary">Заказать</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--  SERVICES-->
    <div class="site-section" id="services-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Основные услуги</h2>
            <p style="text-align: center;">в категории "{{ service_type.title }}"</p>
          </div>
          {% for service in services %}
            {% if service.page %}
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">
              <div class="service d-flex h-100">
                <div class="svg-icon">
                  <img src="{% static 'services/images/service-image.webp' %}" alt="{{ service.title }}" class="img-fluid">
                </div>
                <a style="color: #666666;" href="{{ service.get_absolute_url }}">
                  <div class="service-about">
                  <h3>{{ service.title }}</h3>
                  {% if service.sub_service_type %}
                      <p>{{ service.sub_service_type }}</p>
                  {% endif %}
                  {% if service.unit == 'service' %}
                    <p class="price">Стоимость - {{ service.price|floatformat:"0" }} руб.</p>
                  {% else %}
                    <p class="price">{{ service.price|floatformat:"0"  }} руб./{{ service.get_service_unit }}
                  {% endif %}
                  <p>{{ service.description|truncatewords:13 }}</p>
                  <p class="more"><a href="{{ service.get_absolute_url }}">Читать далее</a></p>
                </div>
                </a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
<!-- END SERVICES-->

<!--  PRICE-->
    <div class="site-section" id="price">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative" style="text-align: -webkit-center;">
            <h2 class="section-title text-center mb-5">Стоимость услуг</h2>
            <table border="0" class="table_price">
             <tr>
              <th scope="col">№</th>
              <th scope="col">Услуга</th>
              {% if has_subtype %}<th scope="col">Тип</th>{% endif %}
              <th scope="col">Стоимость от</th>
             </tr>
              {% for service in services %}

               <tr>
                 <th scope="row">{{ forloop.counter }}</th>
                 <td>{{ service.title }}</td>
                   {% if has_subtype %}
                   <td>{{ service.sub_service_type }}</td>
                   {% endif %}
                 <td>{% if service.unit == 'service' %}
                   {{ service.price|floatformat:"0"  }} руб.
                   {% else %}
                   {{ service.price|floatformat:"0" }} руб./{{ service.get_service_unit }}
                   {% endif %}</td>
               </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- END PRICE-->


<!--  For what-->
    <div class="site-section" id="wherefore">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title text-center mb-5">Почему следует заказывать у нас?</h2>
          </div>

          {% for affirmation in section_for_what %}
          <div class="col-lg-4">
            <h3>{{ affirmation.title }}</h3>
            <p>
              {{ affirmation.text }}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!-- END For what-->



    <section class="site-section block__62272" id="projects-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 position-relative">
            <h2 class="section-title text-center mb-5">Работы</h2>
          </div>
        </div>

        <div id="posts" class="row no-gutter">
          {% for image in services_gallery %}
              <div class="item {{ image.service.pk }} col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                <a href="{{ image.image.url }}" class="item-wrap fancybox">
                  <span class="icon-search2"></span>
                  <img class="img-fluid" alt="{{ service_type.title }}" src="{{ image.image.url }}">
                </a>
              </div>
          {% endfor %}
        </div>
      </div>
    </section>


    <section class="site-section bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5 text-white">Отзывы клиентов</h2>
          </div>
        </div>
        <div class="owl-carousel slide-one-item">
          {% for review in reviews %}
          <div class="slide">
<!--            <img style="max-width: 20%;" src="{% static 'services/images/reviews/review.webp' %}" alt="Отзыв клиента">-->
                <p><cite> {{ review.client_name }}</cite></p>
              <blockquote>
                <p>{{ review.text }}</p>
              </blockquote>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <p class="section-title text-center mb-5 text-white" ><a href="https://www.avito.ru/user/6bb504594c283003e017d99450fa00e7/profile?id=2820510183&src=item&page_from=from_item_card_icon&iid=2820510183#open-reviews-list" style="color: white !important;">Просмтр отзывов на Avito.ru</a></p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section bg-light" id="blog-section">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5 position-relative">
            <h2 class="section-title text-center mb-5">Статьи</h2>
          </div>
          {% for article in articles %}
          <div class="col-md-6 mb-5 mb-lg-0 col-lg-4">
            <div class="blog_entry">
              <a href="{{ article.get_absolute_url }}">
              {% if article.image %}
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
              {% else %}
                  <img src="{% static 'services/images/back-for-services-base-clear.webp' %}" alt="{{ article.title }}" class="img-fluid">
              {% endif %}
              </a>
              <div class="p-4 bg-white">
                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                <span class="date">{{ article.time_create }}</span>
                <p>{{ service.content|truncatewords:13 }}</p>
                <p class="more"><a href="{{ article.get_absolute_url }}">Подробнее</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}









